/* public/css/gestor.css */

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #ccc;
    padding: 20px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.button-logout {
    background-color: #FF6347;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.username {
    font-size: 20px;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #87CEEB;
    color: #fff;
    text-decoration: none !important;
    border-radius: 5px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #87CEEB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #00BFFF;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
    z-index: 1001;
    /* Ensure the hamburger is above the sidebar */
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.incidencia-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.incidencia-card h3 {
    margin: 0 0 10px 0;
}

.incidencia-card p {
    margin: 0 0 20px 0;
}

.incidencia-card .info {
    margin-bottom: 10px;
}

.incidencia-card .form-group {
    margin-bottom: 10px;
}

select.form-control {
    width: auto;
    /* Ajusta el ancho automáticamente */
    min-width: 200px;
    /* Establece un ancho mínimo */
    height: auto;
    white-space: normal;
    /* Permite que el texto se ajuste automáticamente */
}


/* Estilos para los estados */

.badge-sin-asignar {
    background-color: grey;
    color: white;
}

.badge-asignada {
    background-color: blue;
    color: white;
}

.badge-en-trabajo {
    background-color: yellow;
    color: black;
}

.badge-resuelta {
    background-color: green;
    color: white;
}

.badge-cerrada {
    background-color: red;
    color: white;
}


/* Estilos para las prioridades */

.badge-prioridad-alta {
    background-color: red;
    color: white;
}

.badge-prioridad-media {
    background-color: yellow;
    color: black;
}

.badge-prioridad-baja {
    background-color: green;
    color: white;
}

.sidebar .logout-form {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar .logout {
    background-color: #ff0000;
    width: 100%;
}

.sidebar .logout:hover {
    background-color: #cc0000;
}

.content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00aaff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0088cc;
}

@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        z-index: 1000;
        height: 100%;
        transform: translateX(-100%);
    }
    .sidebar.visible {
        transform: translateX(0);
    }
    .hamburger {
        display: flex;
    }
}