body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para la barra lateral fija */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ajusta el ancho según tus necesidades */
    background-color: #ccc; /* Color de fondo de la barra lateral */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
    z-index: 1000; /* Asegura que la barra lateral esté por encima del contenido principal */
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ajusta el ancho según tus necesidades */
    background-color: #ccc; /* Color de fondo de la barra lateral */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
    z-index: 1000; /* Asegura que la barra lateral esté por encima del contenido principal */
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;

}

.sidebar.visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ajusta el ancho según tus necesidades */
    background-color: #ccc; /* Color de fondo de la barra lateral */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
    z-index: 1000; /* Asegura que la barra lateral esté por encima del contenido principal */
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.button-logout {
    background-color: #FF6347;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.username {
    font-size: 20px;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #87CEEB;
    color: #fff;
    text-decoration: none !important;
    border-radius: 5px;
}

/* Estilos para el contenedor principal */
.content {
    margin-left: 250px; /* Debe coincidir con el ancho de la barra lateral */
    padding: 20px;
    overflow: auto; /* Permite el desplazamiento si el contenido es demasiado largo */
    flex-grow: 1;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #87CEEB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #00BFFF;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
    z-index: 1001; /* Ensure the hamburger is above the sidebar */
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.incidencia-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.incidencia-card h3 {
    margin: 0 0 10px 0;
}

.incidencia-card p {
    margin: 0 0 20px 0;
}

.incidencia-card .info {
    margin-bottom: 10px;
}

.incidencia-card .form-group {
    margin-bottom: 10px;
}

select.form-control {
    width: auto; /* Ajusta el ancho automáticamente */
    min-width: 200px; /* Establece un ancho mínimo */
    height: auto;
    white-space: normal; /* Permite que el texto se ajuste automáticamente */
}

/* Estilos para los estados */
.badge-sin-asignar {
    background-color: grey;
    color: white;
}

.badge-asignada {
    background-color: blue;
    color: white;
}

.badge-en-trabajo {
    background-color: yellow;
    color: black;
}

.badge-resuelta {
    background-color: green;
    color: white;
}

.badge-cerrada {
    background-color: red;
    color: white;
}

/* Estilos para las prioridades */
.badge-prioridad-alta {
    background-color: red;
    color: white;
}

.badge-prioridad-media {
    background-color: yellow;
    color: black;
}

.badge-prioridad-baja {
    background-color: green;
    color: white;
}

@media (max-width: 768px) {
    .sidebar.visible {
        transform: translateX(0);
    }
    .hamburger {
        display: flex;
    }

    .sidebar {
        display: none;
        position: fixed;
        width: 250px;
        height: 100%;
        background-color: #333;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }

    .tecnico-card {
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .button, .button-logout {
        width: 100%;
        margin-bottom: 10px;
    }
}
